               <div class="rectangle2">
                </div>
                <img anima-src={% static 'desktop-hd-copy-6-bitmap-14@2x.png' %} class="bitmap14" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src={% static 'desktop-hd-copy-6-bitmap-15@2x.png' %} class="bitmap15" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <form action="." method="post"> 
                <div class="inputtext">
                    <img anima-src={% static 'desktop-hd-copy-6-input-background.png' %} class="inputbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="inputvalue">
                        <input type="text" id="username" placeholder="USERNAME">
                    </div>
                </div>
                <div class="inputtext1">
                    <img anima-src={% static 'desktop-hd-copy-6-input-background-1.png' %} class="inputbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="inputvalue">
                        <input type="text" id="password" placeholder="PASSWORD">
                    </div>
                </div>
                <div class="inputtext2">
                    <img anima-src={% static 'desktop-hd-copy-6-input-background-2.png' %} class="inputbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="inputvalue">
                        <input type="text" id="email" placeholder="BUSINESS E-MAIL">
                    </div>
                </div>
                <div class="register anima-valign-text-middle">
                    REGISTER
                </div>
                <img anima-src={% static 'desktop-hd-copy-6-bitmap-16@2x.png' %} class="bitmap16" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="inputtext3">
                    <img anima-src={% static 'desktop-hd-copy-6-input-background-4.png' %} class="inputbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="inputvalue">
                        <input type="text" id="phone_number" placeholder="PHONE NUMBER">
                    </div>
                </div>
                <div class="inputtext4">
                    <img anima-src={% static 'desktop-hd-copy-6-input-background-4.png' %} class="inputbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="inputvalue">
                        <input type="text" id="cardholder_name" placeholder="CARDHOLDER NAME">
                    </div>
                </div>
                <div class="inputtext5">
                    <img anima-src={% static 'desktop-hd-copy-6-input-background-6@2x.png' %} class="inputbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="inputvalue">
                        <input type="text" id="expiry" placeholder="MM/YYYY">
                    </div>
                </div>
                <div class="inputtext6">
                    <img anima-src={% static 'desktop-hd-copy-6-input-background-6@2x.png' %} class="inputbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="inputvalue">
                        <input type="text" id="cvv" placeholder="CVV">
                    </div>